body {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: none;
}

p {
  color: #3e2723;
}

a {
  color: #558b2f;
}

.container {
  padding: 20px 175px;
}

.field {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
}

.field > div {
  background-color: #fff9c4;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startBtn,
.startNewGameBtn,
.pauseBtn {
  border: 2px solid #3e2723 !important;
  background-color: #9ccc65 !important;
  color: #3e2723;
  font-weight: bold;
}

.bg {
  display: block;
  width: 100%;
}

.bg[alt="snake body"] {
  width: 80%;
}

.bg[alt="snake tail"] {
  width: 55%;
}

.modalGameOver-popupWindow {
  width: 30%;
}

.gameOver__title {
  color: #9ccc65;
  position: relative;
}

.gameOver__img {
  display: block;
  width: 20%;
  margin: 0 auto;
}

.gameOver__img {
  position: absolute;

  bottom: 0;
  z-index: 10;
  animation: myfirst 10s linear infinite;
  -webkit-animation: myfirst 10s linear infinite;
}

.startNewGameBtn {
  margin-bottom: 120px;
}

.thanks {
  margin: 0 auto;
  width: fit-content;
  background-color: #fff9c4;
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .field {
    border-left: 1px ridge #8d6e63;
    border-top: 1px ridge #8d6e63;
  }

  .field > div {
    border-right: 1px ridge #8d6e63;
    border-bottom: 1px ridge #8d6e63;
    padding: 3px;
  }

  .container-fluid {
    padding: 20px 0px;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 1025px) {
  html {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    width: 320px; /*Разрешение экрана iPhone*/
    position: absolute;
    top: 100%;
    left: 0;
  }
  body {
    height: 100vw;
  }
}
